remote-version/archived/n8n-test-pdf-merge-v2.json
{
  "name": "Test PDF Merge V2",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf1",
              "name": "pdf1_url",
              "value": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
              "type": "string"
            },
            {
              "id": "pdf2",
              "name": "pdf2_url",
              "value": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-urls",
      "name": "Set PDF URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const pdf1Url = $input.item.json.pdf1_url;\nconst pdf2Url = $input.item.json.pdf2_url;\n\n// Download both PDFs\nconst pdf1Response = await fetch(pdf1Url);\nconst pdf2Response = await fetch(pdf2Url);\n\nconst pdf1Buffer = await pdf1Response.arrayBuffer();\nconst pdf2Buffer = await pdf2Response.arrayBuffer();\n\n// Create FormData\nconst FormData = require('form-data');\nconst formData = new FormData();\n\nformData.append('fileInput', Buffer.from(pdf1Buffer), 'file1.pdf');\nformData.append('fileInput', Buffer.from(pdf2Buffer), 'file2.pdf');\n\n// Send to Stirling PDF\nconst response = await fetch('http://95.216.205.234:8080/api/v1/general/merge-pdfs', {\n  method: 'POST',\n  body: formData,\n  headers: formData.getHeaders()\n});\n\nconst mergedPdfBuffer = await response.arrayBuffer();\n\nreturn {\n  binary: {\n    data: {\n      data: Buffer.from(mergedPdfBuffer).toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: 'merged.pdf'\n    }\n  }\n};"
      },
      "id": "merge-code",
      "name": "Download and Merge PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "## Code-Based Test Workflow\n\n1. Click 'Test workflow' button\n2. Code node downloads both PDFs\n3. Sends them to Stirling PDF\n4. Returns merged PDF!\n\nNo Merge node issues!",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60],
      "id": "note",
      "name": "Instructions"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[
        {
          "node": "Set PDF URLs",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Set PDF URLs": {
      "main": [[
        {
          "node": "Download and Merge PDFs",
          "type": "main",
          "index": 0
        }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
