remote-version/archived/n8n-telegram-pdf-merge.json
{
  "name": "Telegram PDF Merge Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-pdf-merge",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-document",
      "name": "Has Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Track uploaded PDFs in workflow static data\nconst chatId = $input.item.json.message.chat.id;\nconst fileId = $input.item.json.message.document.file_id;\nconst fileName = $input.item.json.message.document.file_name;\n\n// Initialize storage if not exists\nif (!this.getWorkflowStaticData('global').pdfQueue) {\n  this.getWorkflowStaticData('global').pdfQueue = {};\n}\n\nconst staticData = this.getWorkflowStaticData('global');\n\nif (!staticData.pdfQueue[chatId]) {\n  staticData.pdfQueue[chatId] = [];\n}\n\n// Add file to queue\nstaticData.pdfQueue[chatId].push({\n  file_id: fileId,\n  file_name: fileName,\n  timestamp: Date.now()\n});\n\nconst queue = staticData.pdfQueue[chatId];\n\nreturn {\n  json: {\n    chat_id: chatId,\n    file_id: fileId,\n    file_name: fileName,\n    queue_length: queue.length,\n    files_in_queue: queue.map(f => f.file_name)\n  }\n};"
      },
      "id": "track-pdfs",
      "name": "Track PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.queue_length }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-two-files",
      "name": "Have 2 Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Received: {{ $json.file_name }}\n📊 Files in queue: {{ $json.queue_length }}/2\n\n{{ $json.queue_length === 1 ? '📤 Send one more PDF to merge!' : '' }}",
        "additionalFields": {}
      },
      "id": "send-ack-message",
      "name": "Send Acknowledgment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the two files from queue\nconst chatId = $input.item.json.chat_id;\nconst staticData = this.getWorkflowStaticData('global');\nconst queue = staticData.pdfQueue[chatId];\n\nif (!queue || queue.length !== 2) {\n  throw new Error('Expected 2 files in queue');\n}\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      file1_id: queue[0].file_id,\n      file1_name: queue[0].file_name,\n      file2_id: queue[1].file_id,\n      file2_name: queue[1].file_name\n    }\n  }\n];"
      },
      "id": "prepare-merge",
      "name": "Prepare for Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "🔄 Merging PDFs...\n📄 {{ $json.file1_name }}\n📄 {{ $json.file2_name }}",
        "additionalFields": {}
      },
      "id": "send-merging-message",
      "name": "Send Merging Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.file1_id }}"
      },
      "id": "download-file1",
      "name": "Download File 1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.file2_id }}"
      },
      "id": "download-file2",
      "name": "Download File 2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-downloads",
      "name": "Merge Downloads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://95.216.205.234:8080/api/v1/general/merge-pdfs",
        "authentication": "none",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileInput",
              "value": "={{ $binary.data }}"
            },
            {
              "name": "fileInput",
              "value": "={{ $binary.data1 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "call-stirling-pdf",
      "name": "Call Stirling PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare for Merge').item.json.chat_id }}",
        "text": "✅ PDFs merged successfully!",
        "additionalFields": {},
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "send-result",
      "name": "Send Merged PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clear the queue after successful merge\nconst chatId = $('Prepare for Merge').item.json.chat_id;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.pdfQueue && staticData.pdfQueue[chatId]) {\n  staticData.pdfQueue[chatId] = [];\n}\n\nreturn $input.all();"
      },
      "id": "clear-queue",
      "name": "Clear Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "❌ Please send a PDF file.\n\n📖 How to use:\n1. Send first PDF\n2. Send second PDF\n3. Get merged PDF back!",
        "additionalFields": {}
      },
      "id": "send-error-no-document",
      "name": "Send Error - No Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Document?": {
      "main": [
        [
          {
            "node": "Track PDFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - No Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track PDFs": {
      "main": [
        [
          {
            "node": "Have 2 Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Have 2 Files?": {
      "main": [
        [
          {
            "node": "Prepare for Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Merge": {
      "main": [
        [
          {
            "node": "Send Merging Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Merging Message": {
      "main": [
        [
          {
            "node": "Download File 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download File 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File 1": {
      "main": [
        [
          {
            "node": "Merge Downloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File 2": {
      "main": [
        [
          {
            "node": "Merge Downloads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Downloads": {
      "main": [
        [
          {
            "node": "Call Stirling PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Stirling PDF": {
      "main": [
        [
          {
            "node": "Send Merged PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Merged PDF": {
      "main": [
        [
          {
            "node": "Clear Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-05T00:00:00.000Z",
  "versionId": "1"
}
